<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="CMU">
  
  <mujoco>
    <compiler meshdir="C:\Users\Ho\Documents\GitHub\Biped\URDF\Mk 4\meshes" balanceinertia="true" discardvisual="false"/>
    <!--option gravity ="0 0 0" /-->
  </mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.86498628959769E-08 0.00199056182136681 0.00116844799147214"
        rpy="0 0 0" />
      <mass
        value="0.0299227589680342" />
      <inertia
        ixx="4.64430780114595E-06"
        ixy="-7.00056514337783E-12"
        ixz="1.45948993644994E-11"
        iyy="4.78982197003375E-06"
        iyz="-7.65792898200085E-08"
        izz="5.96248441172554E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link_collision.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R Hip 1">
    <inertial>
      <origin
        xyz="-3.00471388825496E-07 -4.83657959842528E-06 0.0058197522890202"
        rpy="0 0 0" />
      <mass
        value="0.00049067295938797" />
      <inertia
        ixx="9.79960981258842E-09"
        ixy="-1.75775880167518E-24"
        ixz="9.27586298435547E-25"
        iyy="1.27003133712708E-08"
        iyz="1.53374016448686E-23"
        izz="4.84290883694006E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 1"
    type="revolute">
    <origin
      xyz="0.021005 0 0"
      rpy="1.5708 -0.062045 0" />
    <parent
      link="base_link" />
    <child
      link="R Hip 1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Hip 2">
    <inertial>
      <origin
        xyz="-1.39156174430721E-10 -1.14679487780989E-09 0.0107683298059861"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="3.43974392373397E-08"
        ixy="4.54949336904165E-24"
        ixz="4.56537649272031E-24"
        iyy="4.56704869048962E-08"
        iyz="1.39880725182447E-24"
        izz="1.53564582402189E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 2"
    type="revolute">
    <origin
      xyz="0 0 0.0076962"
      rpy="1.5708 1.45 0" />
    <parent
      link="R Hip 1" />
    <child
      link="R Hip 2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Thigh">
    <inertial>
      <origin
        xyz="3.40458762854226E-05 0.00899999999999 -7.59808882477842E-15"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.5711579287713E-07"
        ixy="-2.54352868481228E-19"
        ixz="1.95049188440004E-20"
        iyy="5.47708788396036E-08"
        iyz="1.82126972910701E-19"
        izz="2.1794549368145E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Thigh"
    type="revolute">
    <origin
      xyz="0 0 0.013139"
      rpy="1.9476 0 1.5708" />
    <parent
      link="R Hip 2" />
    <child
      link="R Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Foreleg">
    <inertial>
      <origin
        xyz="-6.31474039725077E-14 0.020861695464319 -0.00148561443806367"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="1.13794140854608E-18"
        ixz="5.09807955128682E-20"
        iyy="4.37186901229749E-08"
        iyz="-7.21763846852378E-08"
        izz="1.19609930818118E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Foreleg"
    type="revolute">
    <origin
      xyz="0 0.018 0"
      rpy="-2.0409 0 3.1416" />
    <parent
      link="R Thigh" />
    <child
      link="R Foreleg" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Shin">
    <inertial>
      <origin
        xyz="4.16581931406493E-05 0.0220307112180653 -0.00550832169752384"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="4.33803544747723E-07"
        ixy="1.98250687548619E-09"
        ixz="-4.05058191267545E-10"
        iyy="5.92096369131143E-08"
        iyz="1.358928951577E-07"
        izz="3.7955248348692E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Shin"
    type="revolute">
    <origin
      xyz="0 0.064516 0"
      rpy="-1.0363 0 0" />
    <parent
      link="R Foreleg" />
    <child
      link="R Shin" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Foot">
    <inertial>
      <origin
        xyz="0.00196158784939931 -0.00495386725335147 1.65845157051869E-10"
        rpy="0 0 0" />
      <mass
        value="0.000518724266802862" />
      <inertia
        ixx="3.099919841008E-09"
        ixy="5.53677175132052E-10"
        ixz="-9.03463016685067E-16"
        iyy="2.03818889804979E-08"
        iyz="-1.6077214504419E-16"
        izz="2.17998844497554E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Foot"
    type="revolute">
    <origin
      xyz="0 0.050358 -0.015572"
      rpy="-1.5708 1.1597 1.5708" />
    <parent
      link="R Shin" />
    <child
      link="R Foot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Servo">
    <inertial>
      <origin
        xyz="0.000823287373041146 -0.000486227731168441 5.18317749831354E-10"
        rpy="0 0 0" />
      <mass
        value="0.000108566149369813" />
      <inertia
        ixx="5.20764811255305E-10"
        ixy="-1.55186013777786E-10"
        ixz="-2.37036472281316E-16"
        iyy="6.78013685642095E-10"
        iyz="-9.77002764041937E-17"
        izz="9.03101565925101E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Servo.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Servo.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Servo"
    type="revolute">
    <origin
      xyz="-0.002 0.012585 0"
      rpy="0 -1.1706 1.5708" />
    <parent
      link="R Shin" />
    <child
      link="R_Servo" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Servo Joint">
    <inertial>
      <origin
        xyz="-1.48353551665537E-13 0.0193150000000334 -2.47024622979097E-15"
        rpy="0 0 0" />
      <mass
        value="5.90677466361003E-05" />
      <inertia
        ixx="7.67849248203426E-09"
        ixy="7.69985778592513E-21"
        ixz="9.8227697740672E-25"
        iyy="1.55957115728563E-11"
        iyz="1.01713553164244E-20"
        izz="7.67827899614791E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Servo Joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Servo Joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Servo Joint"
    type="revolute">
    <origin
      xyz="0.0075599 0 0"
      rpy="-1.5864 0 -1.5708" />
    <parent
      link="R_Servo" />
    <child
      link="R_Servo Joint" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Linkage">
    <inertial>
      <origin
        xyz="5.27217158818871E-14 0.0331958375325994 7.76115283152023E-15"
        rpy="0 0 0" />
      <mass
        value="0.000113819103585905" />
      <inertia
        ixx="4.88600388859055E-08"
        ixy="-5.09537384673433E-20"
        ixz="-4.508134338414E-23"
        iyy="7.27167695355427E-11"
        iyz="-7.4135771594381E-21"
        izz="4.88062919669676E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Linkage.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R_Linkage.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Linkage"
    type="revolute">
    <origin
      xyz="-0.00575 0 0"
      rpy="-1.0666 0 0" />
    <parent
      link="R Thigh" />
    <child
      link="R_Linkage" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 1">
    <inertial>
      <origin
        xyz="0 -4.84590396801472E-06 0.00581975228901994"
        rpy="0 0 0" />
      <mass
        value="0.000490672959387971" />
      <inertia
        ixx="9.79960981258834E-09"
        ixy="4.08478081521154E-18"
        ixz="-9.84891427793876E-25"
        iyy="1.27003133712708E-08"
        iyz="-2.98534187651748E-24"
        izz="4.84290883693998E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 1"
    type="revolute">
    <origin
      xyz="-0.021005 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="L Hip 1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 2">
    <inertial>
      <origin
        xyz="4.8094707956756E-06 -4.84590073264804E-06 -0.00237034069190085"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="3.43974392373391E-08"
        ixy="-8.27180612553028E-23"
        ixz="-6.59539472338132E-18"
        iyy="4.56704869048961E-08"
        iyz="4.13768165204741E-17"
        izz="1.53564582402184E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 2"
    type="revolute">
    <origin
      xyz="0 -0.013139 0.0076997"
      rpy="-1.5708 1.3223 3.1416" />
    <parent
      link="L Hip 1" />
    <child
      link="L Hip 2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Thigh">
    <inertial>
      <origin
        xyz="3.88917848276257E-05 -0.00795040968252924 -0.00422240322332984"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.5711579287713E-07"
        ixy="7.37569374011912E-17"
        ixz="8.19305059028135E-17"
        iyy="9.07351429374604E-08"
        iyz="-6.76389432955441E-08"
        izz="1.81981229583593E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Thigh"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-2.4963 0 -1.5708" />
    <parent
      link="L Hip 2" />
    <child
      link="L Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Foreleg">
    <inertial>
      <origin
        xyz="-6.07777717043234E-14 0.0208608884937233 -0.00148862644910063"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="1.10472907297631E-18"
        ixz="4.05914070192022E-20"
        iyy="4.37294552636058E-08"
        iyz="-7.22622718280937E-08"
        izz="1.19608854304055E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Foreleg"
    type="revolute">
    <origin
      xyz="0 -0.015892 -0.0084481"
      rpy="-1.4674 0 0" />
    <parent
      link="L Thigh" />
    <child
      link="L Foreleg" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Shin">
    <inertial>
      <origin
        xyz="-4.16581933959173E-05 0.022030711218573 -0.00550832169546653"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="4.33803544747732E-07"
        ixy="-1.98250687474351E-09"
        ixz="4.0505819080752E-10"
        iyy="5.92096368882015E-08"
        iyz="1.35892895128347E-07"
        izz="3.79552483511825E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Shin"
    type="revolute">
    <origin
      xyz="0 0.064515 0"
      rpy="-1.1349 0 0" />
    <parent
      link="L Foreleg" />
    <child
      link="L Shin" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Foot">
    <inertial>
      <origin
        xyz="0.000576077384995929 -1.62089092148321E-13 0.00529707030327459"
        rpy="0 0 0" />
      <mass
        value="0.00051872433253689" />
      <inertia
        ixx="7.30760751685429E-09"
        ixy="-5.9543562418864E-21"
        ixz="7.43767800623544E-09"
        iyy="2.17998889648242E-08"
        iyz="5.39921465328675E-21"
        izz="1.61742058480562E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Foot"
    type="revolute">
    <origin
      xyz="0 0.050359 -0.015576"
      rpy="0 -1.3777 -1.5708" />
    <parent
      link="L Shin" />
    <child
      link="L Foot" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Servo">
    <inertial>
      <origin
        xyz="0.000486227731408585 -0.000823287374738496 -5.20722166774679E-10"
        rpy="0 0 0" />
      <mass
        value="0.000108566149369813" />
      <inertia
        ixx="6.78013685642585E-10"
        ixy="-1.55186013777533E-10"
        ixz="-9.76830574425933E-17"
        iyy="5.20764811254812E-10"
        iyz="-2.3699401666769E-16"
        izz="9.03101565925092E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Servo.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Servo.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Servo"
    type="revolute">
    <origin
      xyz="0.002 0.012585 0"
      rpy="-1.3893 0 3.1416" />
    <parent
      link="L Shin" />
    <child
      link="L_Servo" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Servo Joint">
    <inertial>
      <origin
        xyz="-1.39416256317304E-13 0.0193150000012854 2.6624535909292E-13"
        rpy="0 0 0" />
      <mass
        value="5.90677466361003E-05" />
      <inertia
        ixx="7.67849248203425E-09"
        ixy="6.87477723469777E-21"
        ixz="-2.68833699079734E-24"
        iyy="1.55957115727918E-11"
        iyz="4.95532262090914E-19"
        izz="7.67827899614785E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Servo Joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Servo Joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Servo Joint"
    type="revolute">
    <origin
      xyz="0 -0.0075599 0"
      rpy="-1.8217 0 -3.1416" />
    <parent
      link="L_Servo" />
    <child
      link="L_Servo Joint" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Linkage">
    <inertial>
      <origin
        xyz="-5.04908614917809E-14 0.0331958375250774 2.39074905705738E-12"
        rpy="0 0 0" />
      <mass
        value="0.000113819103585905" />
      <inertia
        ixx="4.88600388859053E-08"
        ixy="4.87177812221137E-20"
        ixz="-4.46677530778635E-23"
        iyy="7.27167695354906E-11"
        iyz="6.04447488128706E-18"
        izz="4.88062919669675E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Linkage.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L_Linkage.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Linkage"
    type="revolute">
    <origin
      xyz="-0.0057452 0 0"
      rpy="-1.5034 0 0" />
    <parent
      link="L Thigh" />
    <child
      link="L_Linkage" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>