<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="CMU">

  <mujoco>
    <compiler meshdir="C:\Users\Ho\Documents\GitHub\Biped\URDF\Mk 3\meshes" balanceinertia="true" discardvisual="false"/>
  </mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.86498628957558E-08 0.00199056182136681 0.00116844799147214"
        rpy="0 0 0" />
      <mass
        value="0.0299227589680342" />
      <inertia
        ixx="4.64430780114595E-06"
        ixy="-7.0005651433527E-12"
        ixz="1.45948993644989E-11"
        iyy="4.78982197003375E-06"
        iyz="-7.65792898200085E-08"
        izz="5.96248441172554E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R Hip 1">
    <inertial>
      <origin
        xyz="0 -4.84590396801287E-06 0.0058197522890202"
        rpy="0 0 0" />
      <mass
        value="0.000490672959387971" />
      <inertia
        ixx="9.79960981258813E-09"
        ixy="6.86988039009494E-25"
        ixz="7.48714405775146E-25"
        iyy="1.27003133712708E-08"
        iyz="-1.82197770189421E-24"
        izz="4.84290883693977E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 1"
    type="revolute">
    <origin
      xyz="0.021005 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="R Hip 1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Hip 2">
    <inertial>
      <origin
        xyz="1.73472347597681E-18 -1.04083408558608E-17 0.0107683205354071"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="3.43974392373393E-08"
        ixy="1.65436122510606E-24"
        ixz="3.77937467267445E-25"
        iyy="4.56704869048961E-08"
        iyz="5.93271866884364E-24"
        izz="1.53564582402186E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 2"
    type="revolute">
    <origin
      xyz="0 0 0.0076962"
      rpy="1.5708 1.3137 0" />
    <parent
      link="R Hip 1" />
    <child
      link="R Hip 2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Thigh">
    <inertial>
      <origin
        xyz="3.4045876255287E-05 -0.00794652833573034 -0.00422524406507302"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.5711579287713E-07"
        ixy="-1.65436122510606E-23"
        ixz="-9.92616735063633E-24"
        iyy="9.07351429374604E-08"
        iyz="-6.76389432955441E-08"
        izz="1.81981229583593E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Thigh"
    type="revolute">
    <origin
      xyz="0 0 0.013139"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="R Hip 2" />
    <child
      link="R Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Foreleg">
    <inertial>
      <origin
        xyz="-3.46944695195361E-18 -0.0181496911312229 0.0103925983154121"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="-7.94093388050907E-23"
        ixz="-1.32348898008484E-23"
        iyy="4.6841924702673E-07"
        iyz="5.60585013825991E-07"
        izz="7.71398751277428E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Foreleg"
    type="revolute">
    <origin
      xyz="0 -0.015893 -0.0084505"
      rpy="0 0 0" />
    <parent
      link="R Thigh" />
    <child
      link="R Foreleg" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Shin">
    <inertial>
      <origin
        xyz="0.0140256804445087 -0.0178589294661325 -4.16581932726201E-05"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="2.24735619458436E-07"
        ixy="2.0998355289699E-07"
        ixz="-1.17966041874364E-09"
        iyy="2.14026500941594E-07"
        iyz="1.64402157659205E-09"
        izz="4.33803544747729E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Shin"
    type="revolute">
    <origin
      xyz="0 -0.053567 0.035952"
      rpy="0 1.5708 0" />
    <parent
      link="R Foreleg" />
    <child
      link="R Shin" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Foot">
    <inertial>
      <origin
        xyz="0.00196158710807664 -0.00495386678362997 1.04083408558608E-17"
        rpy="0 0 0" />
      <mass
        value="0.000518724222366593" />
      <inertia
        ixx="3.09991927163781E-09"
        ixy="5.53673637613224E-10"
        ixz="-3.25702366192755E-24"
        iyy="2.03818859395337E-08"
        iyz="-1.68021061924834E-24"
        izz="2.17998808799417E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Foot"
    type="revolute">
    <origin
      xyz="0.034784 -0.039603 0"
      rpy="0 0 0" />
    <parent
      link="R Shin" />
    <child
      link="R Foot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 1">
    <inertial>
      <origin
        xyz="0 -4.84590396801293E-06 -0.0058197522890202"
        rpy="0 0 0" />
      <mass
        value="0.000490672959387971" />
      <inertia
        ixx="9.79960981258813E-09"
        ixy="-6.86988039009494E-25"
        ixz="4.11998778007802E-25"
        iyy="1.27003133712708E-08"
        iyz="1.82698343635532E-24"
        izz="4.84290883693977E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 1"
    type="revolute">
    <origin
      xyz="-0.021005 0 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="L Hip 1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 2">
    <inertial>
      <origin
        xyz="-5.83673689989739E-06 1.90268539655789E-06 0.0107683205354071"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="4.56704869048962E-08"
        ixy="5.79026428787119E-23"
        ixz="1.13622249205107E-23"
        iyy="3.4397439237339E-08"
        iyz="6.09640050550157E-24"
        izz="1.53564582402183E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 2"
    type="revolute">
    <origin
      xyz="0 0 -0.0077"
      rpy="1.5708 0.35552 0" />
    <parent
      link="L Hip 1" />
    <child
      link="L Hip 2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Thigh">
    <inertial>
      <origin
        xyz="3.88553478720098E-05 0.00721943338269791 0.00537503323441895"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.5711579287713E-07"
        ixy="-3.30872245021211E-24"
        ixz="-1.32348898008484E-23"
        iyy="1.12894744228785E-07"
        iyz="-7.8140614409021E-08"
        izz="1.59821628292269E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Thigh"
    type="revolute">
    <origin
      xyz="0 0 0.013141"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="L Hip 2" />
    <child
      link="L Thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Foreleg">
    <inertial>
      <origin
        xyz="4.80947161668813E-06 -0.0182723759948702 0.0105531781379369"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="-1.12082973000935E-22"
        ixz="1.05879118406788E-22"
        iyy="4.6841924702673E-07"
        iyz="5.60585013825991E-07"
        izz="7.71398751277428E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Foreleg"
    type="revolute">
    <origin
      xyz="0 0.014316 0.010906"
      rpy="-3.1291 0 0" />
    <parent
      link="L Thigh" />
    <child
      link="L Foreleg" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Shin">
    <inertial>
      <origin
        xyz="0.0138646318493914 -0.0179804426844579 -4.16581932726097E-05"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="2.24735619458436E-07"
        ixy="2.0998355289699E-07"
        ixz="-1.17966041874359E-09"
        iyy="2.14026500941595E-07"
        iyz="1.64402157659204E-09"
        izz="4.33803544747729E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Shin"
    type="revolute">
    <origin
      xyz="0 -0.05357 0.03595"
      rpy="-1.5708 1.5604 -1.5708" />
    <parent
      link="L Foreleg" />
    <child
      link="L Shin" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Foot">
    <inertial>
      <origin
        xyz="0.00179478072071362 -0.00507840883683265 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.000518724222366595" />
      <inertia
        ixx="3.09991927163783E-09"
        ixy="5.53673637613222E-10"
        ixz="1.29246970711411E-23"
        iyy="2.03818859395338E-08"
        iyz="4.35420332327275E-24"
        izz="2.17998808799418E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Foot"
    type="revolute">
    <origin
      xyz="0.03479 -0.0396 0"
      rpy="0 0 -0.0021136" />
    <parent
      link="L Shin" />
    <child
      link="L Foot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>