<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="CMU">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.86498628957558E-08 0.00199056182136681 0.00116844799147214"
        rpy="0 0 0" />
      <mass
        value="0.0299227589680342" />
      <inertia
        ixx="4.64430780114595E-06"
        ixy="-7.00056514335593E-12"
        ixz="1.45948993644892E-11"
        iyy="4.78982197003375E-06"
        iyz="-7.65792898200085E-08"
        izz="5.96248441172554E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R Hip 1">
    <inertial>
      <origin
        xyz="0 -4.84590396801287E-06 0.0058197522890202"
        rpy="0 0 0" />
      <mass
        value="0.000490672959387971" />
      <inertia
        ixx="9.79960981258812E-09"
        ixy="6.86988039009494E-25"
        ixz="7.52113870369379E-25"
        iyy="1.27003133712708E-08"
        iyz="-1.84212956573556E-24"
        izz="4.84290883693977E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 1"
    type="revolute">
    <origin
      xyz="0.0210048094716167 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="R Hip 1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Hip 2">
    <inertial>
      <origin
        xyz="1.73472347597681E-18 -1.04083408558608E-17 0.0107683205354071"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="3.43974392373393E-08"
        ixy="0"
        ixz="4.2426808900338E-25"
        iyy="4.56704869048961E-08"
        iyz="5.88849362327743E-24"
        izz="1.53564582402186E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Hip 2"
    type="revolute">
    <origin
      xyz="0 0 0.00769618467666837"
      rpy="1.5707963267949 1.31372099121825 0" />
    <parent
      link="R Hip 1" />
    <child
      link="R Hip 2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Thigh">
    <inertial>
      <origin
        xyz="3.4045876255287E-05 -0.00794652833573034 -0.00422524406507302"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.5711579287713E-07"
        ixy="-1.65436122510606E-23"
        ixz="-9.92616735063633E-24"
        iyy="9.07351429374604E-08"
        iyz="-6.76389432955441E-08"
        izz="1.81981229583593E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Thigh"
    type="revolute">
    <origin
      xyz="0 0 0.0131387261681208"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="R Hip 2" />
    <child
      link="R Thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Foreleg">
    <inertial>
      <origin
        xyz="-3.46944695195361E-18 -0.0181496911312229 0.0103925983154121"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="-7.94093388050907E-23"
        ixz="6.61744490042422E-23"
        iyy="4.6841924702673E-07"
        iyz="5.60585013825991E-07"
        izz="7.71398751277428E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Foreleg"
    type="revolute">
    <origin
      xyz="0 -0.0158930566714607 -0.00845048813014605"
      rpy="0 0 0" />
    <parent
      link="R Thigh" />
    <child
      link="R Foreleg" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Shin">
    <inertial>
      <origin
        xyz="0.0140256804445087 -0.0178589294661326 -4.16581932726132E-05"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="2.24735619458436E-07"
        ixy="2.0998355289699E-07"
        ixz="-1.17966041874364E-09"
        iyy="2.14026500941594E-07"
        iyz="1.6440215765921E-09"
        izz="4.33803544747729E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Shin"
    type="revolute">
    <origin
      xyz="0 -0.0535671183633322 0.0359517363775697"
      rpy="0 1.5707963267949 0" />
    <parent
      link="R Foreleg" />
    <child
      link="R Shin" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R Feet">
    <inertial>
      <origin
        xyz="0.00196158710807664 -0.00495386678362997 1.04083408558608E-17"
        rpy="0 0 0" />
      <mass
        value="0.000518724222366593" />
      <inertia
        ixx="3.09991927163781E-09"
        ixy="5.53673637613224E-10"
        ixz="-2.48154183765908E-24"
        iyy="2.03818859395337E-08"
        iyz="-1.70606001339062E-24"
        izz="2.17998808799417E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Feet.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/R Feet.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R Feet"
    type="revolute">
    <origin
      xyz="0.0347839826905372 -0.0396026832919959 0"
      rpy="0 0 0" />
    <parent
      link="R Shin" />
    <child
      link="R Feet" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 1">
    <inertial>
      <origin
        xyz="0 -4.84590396801287E-06 0.0058197522890202"
        rpy="0 0 0" />
      <mass
        value="0.000490672959387971" />
      <inertia
        ixx="9.79960981258813E-09"
        ixy="6.86988039009494E-25"
        ixz="7.45409183763724E-25"
        iyy="1.27003133712708E-08"
        iyz="-1.85222698532239E-24"
        izz="4.84290883693977E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 1"
    type="revolute">
    <origin
      xyz="-0.021005 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="L Hip 1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Hip 2">
    <inertial>
      <origin
        xyz="4.80947161671328E-06 -4.84590396800447E-06 -0.00237034069189257"
        rpy="0 0 0" />
      <mass
        value="0.00100456223004492" />
      <inertia
        ixx="3.4397439237339E-08"
        ixy="-4.46677530778635E-23"
        ixz="6.12011186370314E-24"
        iyy="4.56704869048962E-08"
        iyz="-1.66659215946307E-23"
        izz="1.53564582402183E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Hip 2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Hip 2"
    type="revolute">
    <origin
      xyz="0 -0.013139 0.007699"
      rpy="-1.5708 1.2153 3.1416" />
    <parent
      link="L Hip 1" />
    <child
      link="L Hip 2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Thigh">
    <inertial>
      <origin
        xyz="2.91999722872964E-05 -0.00794736915994029 -0.00422997991232464"
        rpy="0 0 0" />
      <mass
        value="0.00259524215854131" />
      <inertia
        ixx="2.57115792877129E-07"
        ixy="2.15066959263787E-23"
        ixz="2.64697796016969E-23"
        iyy="9.07351429374604E-08"
        iyz="-6.76389432955441E-08"
        izz="1.81981229583593E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Thigh"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.4086 0 1.5708" />
    <parent
      link="L Hip 2" />
    <child
      link="L Thigh" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Foreleg">
    <inertial>
      <origin
        xyz="4.80947161672282E-06 -0.0181514739708044 0.0103882948619344"
        rpy="0 0 0" />
      <mass
        value="0.00244939435652077" />
      <inertia
        ixx="1.23016334442146E-06"
        ixy="-1.38966342908909E-22"
        ixz="7.94093388050907E-23"
        iyy="4.68419247026729E-07"
        iyz="5.60585013825991E-07"
        izz="7.71398751277428E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Foreleg"
    type="revolute">
    <origin
      xyz="0 -0.015891 -0.0084512"
      rpy="-0.14969 0 0" />
    <parent
      link="L Thigh" />
    <child
      link="L Foreleg" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Shin">
    <inertial>
      <origin
        xyz="0.0140282475204166 -0.0178578306690462 -4.16581932726201E-05"
        rpy="0 0 0" />
      <mass
        value="0.00129204638168326" />
      <inertia
        ixx="2.24735619458436E-07"
        ixy="2.0998355289699E-07"
        ixz="-1.17966041874359E-09"
        iyy="2.14026500941595E-07"
        iyz="1.64402157659202E-09"
        izz="4.33803544747729E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Shin"
    type="revolute">
    <origin
      xyz="0 -0.05357 0.03595"
      rpy="-1.5708 1.5604 -1.5708" />
    <parent
      link="L Foreleg" />
    <child
      link="L Shin" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L Feet">
    <inertial>
      <origin
        xyz="0.00195813687452178 -0.00495545127853954 -3.46944695195361E-18"
        rpy="0 0 0" />
      <mass
        value="0.000518724222366595" />
      <inertia
        ixx="3.09991927163783E-09"
        ixy="5.53673637613226E-10"
        ixz="7.54802308954638E-24"
        iyy="2.03818859395338E-08"
        iyz="7.9991162870899E-25"
        izz="2.17998808799418E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Feet.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://CMU/meshes/L Feet.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L Feet"
    type="revolute">
    <origin
      xyz="0.03479 -0.0396 0"
      rpy="0 0 -0.0021136" />
    <parent
      link="L Shin" />
    <child
      link="L Feet" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>