<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDP_v1">

  <mujoco>
    <compiler meshdir="C:\Users\Ho\Documents\GitHub\Biped-Joy-Ctrl-Mk1\joystick_control_ws\src\joysub\URDP_v1\meshes" balanceinertia="true" discardvisual="false"/>
    <option gravity ="0 0 0" />
  </mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.026327315952113 0.0361682731860485 -0.00239811335495024"
        rpy="0 0 0" />
      <mass
        value="0.0832677381980082" />
      <inertia
        ixx="4.97913234598549E-05"
        ixy="-1.85974998447034E-06"
        ixz="-9.14892814616481E-07"
        iyy="4.3995038426551E-05"
        iyz="-1.18878264384435E-06"
        izz="8.53491154294736E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!--collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/base_link.STL" />
      </geometry>
    </collision-->
  </link>
  <link
    name="Hip1">
    <inertial>
      <origin
        xyz="0.0116518126106317 0.000100400224812058 -0.000166389120435456"
        rpy="0 0 0" />
      <mass
        value="0.0510174247692634" />
      <inertia
        ixx="4.86516501370664E-06"
        ixy="2.70557298139425E-07"
        ixz="8.9854477754757E-07"
        iyy="1.26726780201138E-05"
        iyz="1.49480585254526E-07"
        izz="1.12868281472476E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Hip1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Hip1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip1"
    type="revolute">
    <origin
      xyz="0.0479397057271347 0.00240512261550028 0"
      rpy="1.5707963267949 0 1.62092403869503" />
    <parent
      link="base_link" />
    <child
      link="Hip1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Hip2">
    <inertial>
      <origin
        xyz="-0.0155712976088673 0.00178011041081029 0.00130109388992716"
        rpy="0 0 0" />
      <mass
        value="0.0544682948145359" />
      <inertia
        ixx="2.50443581418711E-05"
        ixy="-2.11202622540915E-06"
        ixz="-6.38040658528886E-06"
        iyy="3.82490342248562E-05"
        iyz="-1.92205672736036E-06"
        izz="1.83537203359063E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Hip2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Hip2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip2"
    type="revolute">
    <origin
      xyz="0.00291999888621859 -0.027508609679584 0"
      rpy="1.57370500083132 1.5707963267949 0" />
    <parent
      link="Hip1" />
    <child
      link="Hip2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Thigh">
    <inertial>
      <origin
        xyz="0.040000000208936 1.24310284288498E-11 0.0189637069443161"
        rpy="0 0 0" />
      <mass
        value="0.0523742410124517" />
      <inertia
        ixx="7.26482326818653E-06"
        ixy="-3.07518443659453E-09"
        ixz="-1.64778341870058E-16"
        iyy="3.27731828344629E-05"
        iyz="4.75029841105605E-17"
        izz="3.91480189823507E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Thigh"
    type="revolute">
    <origin
      xyz="-0.00169174158402435 0.00645275215802343 0.016000000000002"
      rpy="1.57079632679489 -1.00233552800899 0.0296041455695987" />
    <parent
      link="Hip2" />
    <child
      link="Thigh" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Foreleg">
    <inertial>
      <origin
        xyz="0.0688873856499812 0.000990462711047 0.00114612899404557"
        rpy="0 0 0" />
      <mass
        value="0.0982589820261773" />
      <inertia
        ixx="8.86012061373027E-06"
        ixy="-4.57925868942746E-06"
        ixz="-1.48075610184833E-06"
        iyy="7.58306712031382E-05"
        iyz="2.36792403028851E-08"
        izz="8.02377100507431E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Foreleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Foreleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Foreleg"
    type="revolute">
    <origin
      xyz="0.0800000000000005 0 0"
      rpy="0 0 1.62209659499727" />
    <parent
      link="Thigh" />
    <child
      link="Foreleg" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Shin">
    <inertial>
      <origin
        xyz="0.0916128996301525 -0.0109521905991159 -0.00341956270454538"
        rpy="0 0 0" />
      <mass
        value="0.101694233294101" />
      <inertia
        ixx="1.01516759974951E-05"
        ixy="2.22046411927541E-06"
        ixz="2.33988825312875E-06"
        iyy="0.000124126098251688"
        iyz="7.12266749529426E-08"
        izz="0.000130107688368075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Shin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Shin.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Shin"
    type="revolute">
    <origin
      xyz="0.211462065139038 0 0"
      rpy="-3.14159265358979 0 -2.05348880994447" />
    <parent
      link="Foreleg" />
    <child
      link="Shin" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Foot">
    <inertial>
      <origin
        xyz="0.0141674318168209 -0.0201226826332977 9.61230456462438E-05"
        rpy="0 0 0" />
      <mass
        value="0.0150022339024416" />
      <inertia
        ixx="4.40610915149232E-06"
        ixy="-3.43921576415037E-06"
        ixz="4.81980236131635E-08"
        iyy="5.69585889813143E-06"
        iyz="3.66466005351335E-08"
        izz="9.96343325503536E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Foot"
    type="revolute">
    <origin
      xyz="0.210793878641788 0 0"
      rpy="0 0 -0.184475144040257" />
    <parent
      link="Shin" />
    <child
      link="Foot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Calf_arm">
    <inertial>
      <origin
        xyz="0.00881538902341109 -5.49195786098133E-07 0.00422480580938491"
        rpy="0 0 0" />
      <mass
        value="0.00424737722691909" />
      <inertia
        ixx="1.10273581517289E-07"
        ixy="1.53709148425184E-09"
        ixz="-8.57394509400597E-10"
        iyy="5.98396766450953E-07"
        iyz="-2.26021742547613E-11"
        izz="6.64958804433703E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Calf_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Calf_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Calf_arm"
    type="revolute">
    <origin
      xyz="0.0722742073234425 -0.0181017087278485 0.0240000000000011"
      rpy="3.14159265358979 0 -2.01095909772797" />
    <parent
      link="Shin" />
    <child
      link="Calf_arm" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Calf_Link">
    <inertial>
      <origin
        xyz="0.062500578740133 1.94212954329753E-08 -0.00200013079890936"
        rpy="0 0 0" />
      <mass
        value="0.00251539645865265" />
      <inertia
        ixx="1.20234515785088E-08"
        ixy="-1.09289710427895E-12"
        ixz="1.16691939601623E-12"
        iyy="9.16020132399015E-07"
        iyz="6.55359740986884E-14"
        izz="9.20342981411072E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Calf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Calf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Calf_Link"
    type="revolute">
    <origin
      xyz="0.0319999999999999 0 0.00945000000000017"
      rpy="-3.14159265358978 0 -2.05757527134505" />
    <parent
      link="Calf_arm" />
    <child
      link="Calf_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Linkage_1">
    <inertial>
      <origin
        xyz="1.33361144145222E-07 -0.00245000755707746 0.0894803593680583"
        rpy="0 0 0" />
      <mass
        value="0.00319260971085254" />
      <inertia
        ixx="3.31936493137546E-06"
        ixy="9.72148410094043E-13"
        ixz="-2.04752662292582E-11"
        iyy="3.32368778169552E-06"
        iyz="8.85648267949959E-12"
        izz="1.33749228878975E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Linkage_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDP_v1/meshes/Linkage_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Linkage_1"
    type="revolute">
    <origin
      xyz="-0.0391068889874712 0.00134303154155405 0.0320000000000015"
      rpy="0 0.831075448247001 -3.1119885080202" />
    <parent
      link="Hip2" />
    <child
      link="Linkage_1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>